# ~/.local/share/chezmoi/.chezmoi.toml.tmpl (special filename read by `chezmoi init`)

{{- if env "DOTFILES_FULL" }}

[secret]
command = "op"

[onepassword]
mode = "account"
prompt = true
account = "unstablestudios" # subdomain is fine

{{- end }}