# ~/.local/share/chezmoi/.chezmoi.toml.tmpl (special filename read by `chezmoi init`)

{{- $hostname := promptStringOnce . "hostname" "Hostname for this machine" -}}
{{- $isServer := promptBoolOnce . "is_server" "Is this a server/dev box (y/n)" -}}

[data]
  hostname = {{ $hostname | quote }}
  is_server = {{ $isServer }}

{{- if env "DOTFILES_FULL" }}

[secret]
command = "op"

[onepassword]
mode = "account"
prompt = true
account = "unstablestudios" # subdomain is fine

{{- end }}