[user]
  name = Mike Hansen
  email = mike@unstablestudios.com

[core]
  editor = nano
  pager = delta

[pull]
  rebase = true
  
{{- if not (env "CODESPACES") }}
[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMDSNoyopg2gar0Lwf2lT+tSQbbDel/oSD5zJwjq69Z1

[gpg]
  format = ssh

[commit]
  gpgsign = true

[gpg "ssh"]
  # Use a portable path so it works on macOS + Linux
  allowedSignersFile = ~/.config/git/allowed_signers
{{- else }}
[commit]
  gpgsign = false
{{- end }}

[credential "https://github.com"]
  helper =
  helper = !gh auth git-credential

[credential "https://gist.github.com"]
  helper =
  helper = !gh auth git-credential

[include]
  path = ~/.gitconfig.local

[interactive]
  diffFilter = delta --color-only

[include]
    path = ~/.config/git/delta/themes.gitconfig

[delta]
  features = arctic-fox
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
  pager = less -FRX --mouse

[merge]
  conflictStyle = zdiff3
