{
  "recommendations": [
    "dbaeumer.vscode-eslint",
    "esbenp.prettier-vscode",
    "bradlc.vscode-tailwindcss",
    "github.copilot",
    "github.copilot-chat",
    "github.vscode-pull-request-github",
    "github.vscode-github-actions",
    "hashicorp.terraform",
    "redhat.vscode-yaml",
    "ms-python.python",
    "ms-python.vscode-pylance",
    "charliermarsh.ruff",
    "rust-lang.rust-analyzer",
    "yzhang.markdown-all-in-one",
    "bierner.markdown-mermaid",
    "bierner.markdown-preview-github-styles",
    "davidanson.vscode-markdownlint",
    "foxundermoon.shell-format",
    "samuelcolvin.jinjahtml",
    "jock.svg"
  ],
  "unwantedRecommendations": [
    "atlassian.atlascode",
    "postman.postman-for-vscode"
  ]
}
