{
  "recommendations": [
    "dbaeumer.vscode-eslint",
    "esbenp.prettier-vscode",
    "bradlc.vscode-tailwindcss",
    "ms-python.python",
    "ms-python.vscode-pylance",
    "hashicorp.terraform",
    "rust-lang.rust-analyzer",
    "github.copilot"
  ],
  "unwantedRecommendations": [
    "atlassian.atlascode",
    "postman.postman-for-vscode",
    "ms-vscode.cpptools-extension-pack"
  ]
}